.trigger {
  font-size: 25px;
  line-height: 64px;
  padding: 19px;
  cursor: pointer;
  transition: color .3s;
  color: #fff;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  background-color: #3551a0;
  height: 64px;
  padding-left: 20px;
  line-height: 64px;
  transition: all .5s;
  overflow: hidden;
}

.logo h5 {
  display: inline;
  color: #fff;
  margin: 0 0 0 12px;
  font-weight: 600;
  vertical-align: middle;
}

.ant-menu-inline-collapsed > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0 25px !important;
}

.ant-layout-sider-collapsed .logo h5 {
  display: none;
}

.nav-text {
  font-weight: 500;
  font-size: 1.10em;
}

.ant-layout-sider .nav-text {
  padding: 16px;
}

.ant-layout-sider-collapsed .nav-text {
  display: none;
}

.ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
  display: none;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: 0;
}

#user-menu {
  line-height: 63px;
  float: right;
  background-color: #f79925;
}

#user-menu .ant-menu-submenu-title {
  height: 56px;
}

#user-menu #full-name {
  float: right;
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  margin-right: 0;
  font-size: 25px;
}

.content-wrapper {
  margin: 24px 24px 0;
  padding-top: 0;
}